<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashbord" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
              
                <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="tables.html" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">table</span></a></li> -->
                
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Admin</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/AddAdmin" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Add Admin </span></a></li>
                        <li class="sidebar-item"><a href="/ViewAdmin" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> View Admin </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Category</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/category/AddCat" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Add Category </span></a></li>
                        <li class="sidebar-item"><a href="/category/ViewCat" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> View Category </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Sub Category</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/subCategory/subAddCat" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Add Sub Category </span></a></li>
                        <li class="sidebar-item"><a href="/subCategory/subViewCat" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> View Sub Category </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Extra Category</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/Extra/ExtraSubAddCat" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Extra Add Category </span></a></li>
                        <li class="sidebar-item"><a href="/Extra/ExtraSubViewCat" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Extra View Category </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Product</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/product/addProduct" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Add Product </span></a></li>
                        <li class="sidebar-item"><a href="/product/viewProduct" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu">View Product</span></a></li>
                    </ul>
                </li>
               
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>